/*Selector Universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 50px;
    text-align: center;
}